* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: limegreen;
}

/* ~~~~~~~~~~~~~~~ header ~~~~~~~~~~~~~~~ */

.header {
    padding: 20px 0;
    text-align: center;
}

/* ~~~~~~~~~~~~~~~ slider ~~~~~~~~~~~~~~~ */

.slider-wrapper {
    margin: 0 auto;
    width: 700px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.content-wrapper {
    width: 3770px;
    display: flex;
    gap: 50px;
}

.item {
    visibility: hidden;
    transition: 0.5s;
}

.item:first-child {
    visibility: visible;
}

.item:target {
    visibility: visible;
}

.item-image {
    display: block;
    width: 700px;
    height: 400px;
    background-color: red;
}

.text {
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.indication {
    width: 20px;
    height: 3px;
    background-color: black;
}

.indication-one {
    margin-left: 250px;
}

.indication-two {
    margin-left: 295px;
}

.indication-three {
    margin-left: 340px;
}

.indication-four {
    margin-left: 385px;
}

.indication-five {
    margin-left: 430px;
}

.links {
    display: flex;
    justify-content: center;
}

.link {
    width: 45px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-icon {
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    transition: 0.5s;
}

.link:hover .link-icon {
    background-color: blue;
    transform: scale(1.3);
}

footer {
    padding: 20px;
    text-align: center;
}