@font-face {
    font-family: 'grape-nuts';
    src: url(assets/fonts/GrapeNuts-Regular.ttf);
}

@font-face {
    font-family: 'bellota';
    src: url(assets/fonts/BellotaText-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8fff8;
}

/* ~~~~~~~~~~~~~~~ wrappers, radiobuttons ~~~~~~~~~~~~~~~ */

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.main {
    display: grid;
    grid-template-areas: 
    'image-row image-row'
    'radio-column radio-column'
    'text-column control-column';
}

.radio {
    grid-area: radio-column;
    opacity: 0;
}

.title {
    text-align: center;
    font-family: "grape-nuts";
    font-size: 2.5rem;
    letter-spacing: 0.095rem;
    color: darkmagenta;
    text-shadow: 0 0 0.125rem darkmagenta;
    padding: 2rem 0;
    transition: 1s;
}

/* ~~~~~~~~~~~~~~~ slider ~~~~~~~~~~~~~~~ */

.slider-wrapper {
    grid-area: image-row;
    width: 44rem;
    margin: 0 auto;
    overflow-x: hidden;
    transition: 1s;
}

.content-wrapper {
    display: flex;
    gap: 3.125rem;
    transition: 0.5s;
}

.image {
    object-fit: contain;
    height: 29.4em;
}

.mem {
    opacity: 0;
    transition: 0.5s;
}

.slider-wrapper-text {
    grid-area: text-column;
    margin: 1rem 4rem 0 auto;
    width: 18.75rem;
    overflow-x: hidden;
    transition: 1s;
}

.content-text {
    display: flex;
    gap: 9.375rem;
    width: 125rem;
    transition: 0.8s;
}

.text {
    width: 18.75rem;
    font-size: 1.45rem;
    font-family: 'bellota';
    font-weight: bold;
    color: darkmagenta;
    opacity: 0;
    transition: 0.5s;
}

.labels-wrapper {
    margin: 0.5rem 0 0 4rem;
    display: flex;
    grid-area: control-column;
}

.label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 3rem;
    cursor: pointer;
}

.label-control {
    width: 0.95rem;
    height: 0.95rem;
    border: 0.2rem solid limegreen;
    box-shadow: 0 0 0.095rem 0.095rem limegreen;
    border-radius: 50%;
    transition: 0.5s;
}

.label:hover .label-control {
    transform: scale(1.4);
}

/* ~~~~~~~~~~~~~~~ item one ~~~~~~~~~~~~~~~ */

#radio-one:checked ~ .labels-wrapper > .label-one > .control-one {
    background-color: limegreen;
}

#radio-one:checked ~ .slider-wrapper > .content-wrapper {
    margin-left: 0;
}

#radio-one:checked ~ .slider-wrapper > .content-wrapper > .mem-one {
    opacity: 1;
}

#radio-one:checked ~ .slider-wrapper-text > .content-text {
    margin-left: 0;
}

#radio-one:checked ~ .slider-wrapper-text > .content-text > .text-one {
    opacity: 1;
}

/* ~~~~~~~~~~~~~~~ item two ~~~~~~~~~~~~~~~ */

#radio-two:checked ~ .labels-wrapper > .label-two > .control-two {
    background-color: limegreen;
}

#radio-two:checked ~ .slider-wrapper > .content-wrapper {
    margin-left: -48rem;
}

#radio-two:checked ~ .slider-wrapper > .content-wrapper > .mem-two {
    opacity: 1;
}

#radio-two:checked ~ .slider-wrapper-text > .content-text {
    margin-left: -25.94rem;
}

#radio-two:checked ~ .slider-wrapper-text > .content-text > .text-two {
    opacity: 1;
}

/* ~~~~~~~~~~~~~~~ item three ~~~~~~~~~~~~~~~ */

#radio-three:checked ~ .labels-wrapper > .label-three > .control-three {
    background-color: limegreen;
}

#radio-three:checked ~ .slider-wrapper > .content-wrapper {
    margin-left: -93rem;
}

#radio-three:checked ~ .slider-wrapper > .content-wrapper > .mem-three {
    opacity: 1;
}

#radio-three:checked ~ .slider-wrapper-text > .content-text {
    margin-left: -53.125rem;
}

#radio-three:checked ~ .slider-wrapper-text > .content-text > .text-three {
    opacity: 1;
}

/* ~~~~~~~~~~~~~~~ item four ~~~~~~~~~~~~~~~ */

#radio-four:checked ~ .labels-wrapper > .label-four > .control-four {
    background-color: limegreen;
}

#radio-four:checked ~ .slider-wrapper > .content-wrapper {
    margin-left: -134.9rem;
}

#radio-four:checked ~ .slider-wrapper > .content-wrapper > .mem-four {
    opacity: 1;
}

#radio-four:checked ~ .slider-wrapper-text > .content-text {
    margin-left: -80rem;
}

#radio-four:checked ~ .slider-wrapper-text > .content-text > .text-four {
    opacity: 1;
}

/* ~~~~~~~~~~~~~~~ item five ~~~~~~~~~~~~~~~ */

#radio-five:checked ~ .labels-wrapper > .label-five > .control-five {
    background-color: limegreen;
}

#radio-five:checked ~ .slider-wrapper > .content-wrapper {
    margin-left: -177rem;
}

#radio-five:checked ~ .slider-wrapper > .content-wrapper > .mem-five {
    opacity: 1;
}

#radio-five:checked ~ .slider-wrapper-text > .content-text {
    margin-left: -107rem;
}

#radio-five:checked ~ .slider-wrapper-text > .content-text > .text-five {
    opacity: 1;
}

/* ~~~~~~~~~~~~~~~ footer ~~~~~~~~~~~~~~~ */

.footer {
    text-align: center;
    padding: 3.15rem 0 2rem 0;
}

.github-link {
    display: block;
    margin: 0 auto;
    width: 8rem;
    text-decoration: none;
    font-family: "grape-nuts";
    font-size: 1.5rem;
    font-weight: bold;
    color: darkmagenta;
    text-shadow: 0 0 0.125rem darkmagenta;
    letter-spacing: 0.095rem;
    transition: 0.5s;
}

.github-link:hover {
    transform: scale(1.2);
}

/* ~~~~~~~~~~~~~~~ media ~~~~~~~~~~~~~~~ */

@media (max-width: 47rem) {
    .title {
        padding: 1.58rem 0;
    }

    .slider-wrapper {
        width: 28.125rem;
    }
    
    .image {
        height: 18.75rem;
    }

    .text {
        font-size: 1.25rem;
    }

    .slider-wrapper-text {
        margin: 1rem 0 0 auto;
    }

    .labels-wrapper {
        margin: 0.5rem 0 0 0;
    }

    .label {
        width: 2rem;
        height: 2rem;
    }

    #radio-two:checked ~ .slider-wrapper > .content-wrapper {
        margin-left: -31.55rem;
    }

    #radio-three:checked ~ .slider-wrapper > .content-wrapper {
        margin-left: -61.9rem;
    }

    #radio-four:checked ~ .slider-wrapper > .content-wrapper {
        margin-left: -89.4rem;
    }

    #radio-five:checked ~ .slider-wrapper > .content-wrapper {
        margin-left: -117.5rem;
    }
}

@media (max-width: 31.25rem) {
    .title {
        padding: 1.25rem 0;
        font-size: 1.57rem;
    }

    .main {
        grid-template-areas: 
        'image-row'
        'radio-column'
        'text-column';
    }

    .slider-wrapper {
        width: 19.25rem;
        height: 14rem;
    }
    
    .image {
        height: 12.82rem;
    }

    .slider-wrapper-text {
        margin: 0 auto;
        grid-area: text-column;
    }

    .labels-wrapper {
        grid-area: radio-column;
        justify-content: center;
    }

    .text {
        text-align: center;
        font-size: 1.07rem;
        padding: 1.25rem 0 0 0;
    }

    #radio-one:checked ~ .slider-wrapper-text > .content-text {
        margin-left: 0.58rem;
    }

    #radio-two:checked ~ .slider-wrapper > .content-wrapper {
        margin-left: -22.4rem;
    }

    #radio-two:checked ~ .slider-wrapper-text > .content-text {
        margin-left: -26.25rem;
    }

    #radio-three:checked ~ .slider-wrapper > .content-wrapper {
        margin-left: -44.07rem;
    }

    #radio-four:checked ~ .slider-wrapper > .content-wrapper {
        margin-left: -64.07rem;
    }

    #radio-five:checked ~ .slider-wrapper > .content-wrapper {
        margin-left: -84.3rem;
    }
}