* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

/* ~~~~~~~~~~~~~~~ body, header ~~~~~~~~~~~~~~~ */

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    text-align: center;
    padding: 40px 0;
}

.title {
    color: #5efd5e;
}

/* ~~~~~~~~~~~~~~~ slider ~~~~~~~~~~~~~~~ */

.slider-wrapper {
    margin: 0 auto;
    width: 700px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.content-wrapper {
    width: 3770px;
    display: flex;
    gap: 50px;
}

.item {
    visibility: hidden;
    transition: 0.5s;
}

.item:first-child {
    visibility: visible;
}

.item:target {
    visibility: visible;
}

.item-image {
    display: block;
    width: 700px;
    height: 450px;
    background-color: red;
}

.text {
    text-align: center;
    padding: 50px;
    font-size: 25px;
    color: white;
}

.indication {
    width: 20px;
    height: 3px;
    background-color: #5efd5e;
    box-shadow: 0 0 2px 2px #5efd5e;
    margin-bottom: 5px;
}

.indication-one {
    margin-left: 250px;
}

.indication-two {
    margin-left: 295px;
}

.indication-three {
    margin-left: 340px;
}

.indication-four {
    margin-left: 385px;
}

.indication-five {
    margin-left: 430px;
}

.links {
    display: flex;
    justify-content: center;
}

.link {
    width: 45px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-icon {
    width: 10px;
    height: 10px;
    background-color: #5efd5e;;
    box-shadow: 0 0 2px 2px #5efd5e;;
    border-radius: 50%;
    transition: 0.5s;
}

.link:hover .link-icon {
    background-color: rgb(0, 255, 0);
    box-shadow: 0 0 2px 2px rgb(0, 255, 0);
    transform: scale(1.4);
}

footer {
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
}

.github-link {
    display: block;
    text-decoration: none;
    margin: 0 auto;
    width: 92px;
    color: #5efd5e;
    font-size: 20px;
    transition: 0.5s;
}

.github-link:hover {
    transform: scale(1.2);
}